body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color: #F3FBFF;
    color: #464646;
   
}
.container{ 
    width: 500px;
    height: 100vh;
    background-color: #F3FBFF;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #FFADAD;
}

nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    
}
nav i img{
    height: 24px;
    cursor: pointer;
    
}
nav img {
    height: 50px;
    cursor: pointer;
    
}

.producto {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 16px;
}
.wrapper .imagen-producto{
    align-items: center;
    width: 50%;
}
.wrapper .imagen-producto img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;

}
.wrapper .producto-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    
}
.wrapper .producto-form form{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.wrapper .producto-form label{
    font-size: 16px;
    text-transform: capitalize;
}
.wrapper .producto-form form input, select{
    margin-bottom: 16px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #D9D9D9;
}


.buttons{
    padding: 16px;
}

button {
    height: 50px;
    width: 100%;
    border: none;
    background-color: #FFADAD;
    border-radius: 5px;
  
    
}

button:hover{
    background-color: #ff9453;
}

span{
    font-size: 14px;
    color: gray;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  footer{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;

  }

  footer img{
    object-fit: contain;
  }